$background-color: rgb(59, 59, 59);

$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 64px;

$layout-padding: 12px;
$layout-margin: 12px;

$main-card-padding: 16px;

$dm1: dimgrey;
$dm2: rgb(73, 73, 73);
$dm3: rgb(41, 41, 41);
